# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - auth-api

on:
  push:
    branches:
      - main
    paths:
      - 'Auth.API/**'  # Solo se ejecuta cuando cambia Auth.API
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.x'  # Cambiado a .NET 6

      - name: Restore dependencies
        run: dotnet restore Auth.API/Auth.API.csproj

      - name: Build with dotnet
        run: dotnet build Auth.API/Auth.API.csproj --configuration Release --no-restore

      - name: dotnet publish
        run: dotnet publish Auth.API/Auth.API.csproj -c Release -o ./publish

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ./publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./publish
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_60FE3B67180448119C14C6F787553FA8 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_234147D1968D4D539DCD0433244139D5 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D722DAF3ADD34B3FAA9BBA71E00C2594 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'auth-api'  # Ajusta si tu App Service tiene otro nombre
          slot-name: 'Production'
          package: ./publish  # Cambiado para apuntar al path correcto

          
